body{
    letter-spacing: -0.6px;
}
*{
   margin: 0;
   padding: 0;
   
}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-top: 30px;
}
nav ul li{
    list-style-type: none;
    padding-left: 28px;
    margin-left: 3px;
    font-size: 15.5px;
}
nav ul{
    display: flex;
    padding-left: 750px;
    margin-top: -50px;
    
}
nav ul a{
    text-decoration: none;
    color: #3976f0;
    font-weight: bold;
}
nav ul a:hover{
    font-weight: bold;
    color: #0438a0;
    font-weight: bold;
}
nav ul li div{
    height: 7px;
    width: 35px;
    border-top: 3px solid #0438a0;
}
nav img{
    height: 50px;
}
nav div{
    display: flex;
}
nav h1{
    color: #0438a0;
    font-weight: bold;
    font-size: 34px;
    padding: 0 10px;
}
#banner{
    background-image: url(./assets/images/banner1.jpg);
    background-size: 1400px;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    height: 720px;
}
.down{
    height: 50px;
    width: 40px;
    border: 1px solid;
    margin-left: -120px;
    margin-top: -50px;
    position: absolute;
    top: 350px;

}
.down2{
    margin-left: 1189px;
}
.down.down2 img{
    transform: rotate(270deg);
    padding-left: 7px;
}
.down img{
    transform: rotate(90deg);
    width: 30px;
    justify-content: center;
    text-align: center;
    color: white;
}
/* HOW TO MAKE AN IMAGE BLUR */
/* #banner::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: -5;
} */

.banner{
    padding-top: 200px;
    padding-left: 120px;
    font-size: 30px;
    font-weight: 600;
    line-height: 63px;
    /* background: rgba(0, 0, 255, 0.295); */
    background: linear-gradient(45deg, #17449e, #00000026);
    height: calc(700px - 180px);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}
#banner p{
    font-size: 19px;
}
.border{
    height: 50px;
    width: 150px;
    border: 2px solid white;
    border-radius: 50px;
    margin-top: 20px;
    text-align: center;
}
.border a{
    color: white;
    text-decoration: none;
}
.border a:hover{
    color: #031e55;
    background-color: white;
}
.border p{
    text-align: center;
    margin-top: -6px;
}
#about{
    height: 850px;
    width: auto;
    border: 1px solid transparent;
}
.about{
    margin-left: 120px;
    color: #020f27;
    line-height: 25px;
    margin-top: 100px;
}
.about p{
    color: grey;
    font-size: 18px;
    letter-spacing: 0.1px;
}
.icon1{
    margin-left: 120px;
    display: flex;
    padding-top: 60px;
}

.icon3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
}

.icon3 img{
    background: blue;
    border-radius: 50px;
}
/* HOW TO USE GRID STYLE */
/* .icon3 .ic{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
} */
.icons{
    height: 70px;
    width: 75px;
    border: 1px solid transparent;
    background-color: #0438a0;
    border-radius: 100px;
    display: flex;
}
.icons img{
    justify-content: center;
    display: flex;
    padding: 14px 16px;
    width: 50px;
}
.icons2{
    margin-left: 20px;
}
.icons2 a{
    text-decoration: none;
    color: #062050;
}
.icons a:hover{
    color: #0846c2;
}
.icons2 p{
    color: grey;
    font-size: 18px;
    letter-spacing: 0.1px;
}
.icons2 h2{
    display: flex;
    float: left;
    color: #020f27;
    line-height: 25px;
}
.ic{
    margin-left: 300px;
}
.icon2{
    margin-left: 930px;
    margin-top: -620px;
}
.icon2 img{
    border-radius: 10px;
    height: 600px;
}
#services{
    background-image: url(./assets/images/banner3.jpg);
    height: 500px;
    background-size: 1400px;
    background-repeat: no-repeat;
}
#services div{
    text-align: center;
    padding-top: 100px;
    font-size: 25px;
    color: white;
    position: relative;
    height: 400px;
    background: linear-gradient(45deg, #020c1f, #00000026);
}
#services div p{
    color: #ffffff;
    font-size: 18px; 
}
#services div img{
    width: 70px;
}
.imgs{
    margin-top: 100px;
}
#features div{
    color: #020f27;
}
.key{
    text-align: center;
    margin-top: 100px;
}
.key{
    text-align: center;
}
.grid{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin: 80px;
}
.grids{
    display: flex;
    margin-left: 30px;
}
.grid h1{
    font-size: 25px;
}
.grid p{
    color: gray;
    padding-top: 10px;
    font-size: 18px;
}

.grip a:hover{
    color: #3976f0;
    transition: all 0.6s;
}
.grip a{
    text-decoration: none;
    color: #020f27;
}
.grid img{
    width:  45px;
    height: 50px;
}
#advantage{
    background-color: rgba(141, 141, 233, 0.1);
    height: 700px;

}
.adv{
    display: flex;
    margin-left: 80px;
    padding-top: 100px;
}
#advantage img{
    border-radius: 10px;
}
#advantage p{
   color: gray;
   font-size: 18px;
}
#text h1{
    color: #020f27;
    font-size: 25px;
 }
.text{
    margin-left: 50px;
    line-height: 20px;
}
.adimg{
    display: flex;
}
.images{
    height: 150px;
    width: 150px;
    border: 1px solid transparent;
    background-color: white;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    margin-top: 30px;
}
.images.space{
    margin-left: 30px;
}
.imgtext{
    color: #020f27;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
#book{
    background-image: url(./assets/images/appointment.jpg);
    height: 700px;
    background-size: 1300px;
}
.book{
    background: linear-gradient(45deg, #011c36, #443f3f26);
    height: 700px;
    left: 0;
    right: 0;
}
.ft{
    margin-left: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-top: 150px;
    word-spacing: 2px;
}
.ft p{
    font-weight: lighter;
    font-size: 19px;

}
.st{
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
    color: white;
}
.st img{
    height: 45px;
    border: 1px solid transparent;
    background-color: #031e55;
    border-radius: 100px;
    display: flex;
}
.st img{
    justify-content: center;
    display: flex;
    padding: 14px 16px;
    width: 40px;
}
.st p{
    color: rgb(211, 209, 209);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
}
.st a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.st a:hover{
    color: royalblue;
}
.border2{
    height: 400px;
    width: 600px;
    background-color: white;
    margin-top: -160px;
    margin-left: 120px;
    border-radius: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
    border: 1px solid gray transparent;
}
.border2:hover{
    box-shadow: 2px 0px 20px 5px rgb(155, 154, 154, .6);
    transition: 0.6s all;
}
input{
    height: 40px;
    width: 230px;
    border-radius: 5px;
    border: 1px solid grey;
}
.mess{
    height: 80px;
    width: 475px;
    border-radius: 3px;
    border: 1px solid grey;
}
.button{
    background-color: rgb(28, 28, 236);
    border: 1px solid transparent;
    color: white;
    height: 60px;
    width: 475px;
    border-radius: 7px;
}
.inp1{
    margin-left: 10px;
}
.button h3{
    letter-spacing: 1px;
}
input:hover{
    position: relative;
    top: -1px;
    border: 1px dotted blue;
    transition: all 0.5s;
}
input::placeholder{
    font-size: 15px;
    padding-left: 10px;
}
.mess{
    padding-top: -40px;
}
.button:hover{
    position: relative;
    top: -1px;
    background-color: rgb(122, 210, 240);
    transition: 0.5s;
}
#partners{
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #020f27;
}
.trust{
    text-align: center;
}
.part{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
.part img{
   width: 230px;
}
.info{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.para{
    margin-top: 100px;

}
#partners p{
    color: grey;

}
#partners a{
    text-decoration: none;
    color: grey;
    word-spacing: 2px;
}
#partners a:hover{
    color: #0438a0;
}
.footer{
    text-align: center;
    margin-top: 100px;
    font-size: 19px;
    letter-spacing: 0.5px;
    margin-bottom: 100px;
}